<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.activity.appligow"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <!-- autoriser le package com.activity.appligow à utiliser les maps -->
    <permission
        android:name="com.activity.appligow.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <!-- 2014-02-10	Permissions permettant à l'application d'utiliser les réseaux internet, etc. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 2014-02-09 | Ajout de permissions pour l'utilisation de google maps API -->
    <uses-permission android:name="com.activity.appligow.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- géolocalisation par wifi -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- géolocalisation par gps -->


    <!-- 2014-02-09 | utilisation de OpenGL ES pour effectuer le rendu des maps -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label=""
        android:logo="@drawable/logo_white"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- 2014-02-09 | Clé pour l'utilisatoin de la map -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/API_KEY" />

        <activity
            android:name="com.activity.appligow.HomeLoadingActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="com.activity.appligow.SignInActivity"
         	android:screenOrientation="portrait" />
        <activity 
            android:name="com.activity.appligow.SignUpActivity"
            android:screenOrientation="portrait"/>
        <activity 
            android:name="com.activity.appligow.MainMapActivity"
            android:screenOrientation="portrait" />
        <activity 
            android:name="com.activity.appligow.UserInformationsActivity"
            android:screenOrientation="portrait" />
        <activity 
            android:name="com.activity.appligow.UserEditActivity"
            android:screenOrientation="portrait" />
        <activity 
            android:name="com.activity.appligow.CreateEventActivity"
            android:screenOrientation="portrait" />
        <activity 
            android:name="com.activity.appligow.EventInformationsActivity"
            android:screenOrientation="portrait"/>
        
    </application>

</manifest>
